<section class="widget-wrap">
    <h3 class="widget-title">简介</h3>
    <div class="widget">
        <div class="notice">
            <img class="notice-img" src="<%- theme.authorimg %>">
            <%- theme.notice %>
            
            <p class="notice-item">
                <!-- github -->
                <span><a target="_blank" href="<%- theme.github %>"><img src="https://shuxhan-imgbed.oss-cn-hangzhou.aliyuncs.com/img/20210108165043.jpg" alt="Github"></a></span>
                <!-- juejin -->
                <span><a target="_blank" href="<%- theme.juejin %>"><img src="https://shuxhan-imgbed.oss-cn-hangzhou.aliyuncs.com/img/20210108165800.png" alt="掘金社区"></a></span>
                <!-- zhihu -->
                <span><a target="_blank" href="<%- theme.zhihu %>"><img src="https://shuxhan-imgbed.oss-cn-hangzhou.aliyuncs.com/img/20210108172745.ico" alt="知乎"></a></span>
                <!-- csdn -->
                <span><a target="_blank" href="<%- theme.csdn %>"><img src="https://shuxhan-imgbed.oss-cn-hangzhou.aliyuncs.com/img/20210108172932.ico" alt="CSDN"></a></span>
            </p>

            <ul class="statistics">
                <li>
                    <span>文章</span>
                    <a href="./archives"><%- site.posts.length %></a>
                </li>
                <li>
                    <span>字数</span>
                    <a><%= totalcount(site) %></a>
                </li>
                <li>
                    <span>访客</span>
                    <a id="busuanzi_value_site_uv"></a>
                </li>
                
                
            </ul>

            <div id="follow" class="button">
                <a target="_blank" href="https://github.com/shuxhan">关注</a>
            </div>
        </div>
    </div>
</section>
