<div class="row">
  <div class="main main-article">
    <article>

      <%if(page.cover){%>
        <header class="post-header with-cover" style="background-image:url('<%- page.cover%>')">
      <%}else{%>
        <header class="post-header no-cover">
      <%}%>
        </header>

      <!-- 标题 -->
      <h1 class="post-title">
        <%= page.title %>
      </h1>

      <section class="post-info post-info-bottom">

        <!-- 发布时间 -->
        <span class="post-date">
          <span class="post-date-text">
            发布于:<%- date(page.date, ' YYYY-MM-DD' ) %>
          </span>
        </span>
        
        <!-- 分类 -->
        <% if (page.categories && page.categories.length && theme.show_post_category){ %>
          <span class="post-category">分类:
            <%- list_categories(page.categories, { show_count: false, class: 'article-category' , style: 'none' ,
              separator: ' ' }) %>
          </span>
        <% } %>

        <!-- 标签 -->
        <% if (page.tags && page.tags.length && theme.show_post_tags){ %>
          <span class="post-tags">
            <%- list_tags(page.tags, { show_count: false, class: 'post-tag' }) %>
          </span>
        <% } %>

        <!-- 阅读量统计 -->
        <%if(theme.visitors){%>
          <span class="post-visitors">阅读量:<span id="twikoo_visitors">0</span></span>
        <%}%>

      </section>

      <!-- 正文 -->
      <section class="post-content">
        <%-page.content%>
      </section>

    </article>
    
    <% if (page.total> 1){ %>
      <div class="pagination">
        <%- paginator({ prev_text: "« " +__('prev'), next_text: __('next')+" »" }) %>
      </div>
    <% } %>


    <!-- 版权声明 -->
    <%- partial('partials/copyright') %>

    <!-- comments -->
    <%- partial('partials/comments') %>

    <div class="right-icon">
      <div id="to-valine" class="right-icon-item">
        <a href="#commenttitle">评论</a>
      </div>
    </div>

  </div>


  <aside>
    <%- partial('partials/widgets') %>

    <!-- 目录 -->
    <%if(page.toc){%>
      <div id="toc"></div>
      <script>
        $(function () {
          var elm = $('#toc');
          var startPos = $(elm).offset().top;
        $.event.add(window, "scroll", function () {
          var p = $(window).scrollTop();
          $(elm).css('margin-left', '0px');
          $(elm).css('position', ((p) > startPos) ? 'fixed' : 'static');
          $(elm).css('top', ((p) > startPos) ? '20px' : '')
        })
      })
      </script>
    <%}%>
  </aside>
  
</div>
