<footer class="footer">

    <div class="copyright-wrap">
      <span>&copy; <%- theme.buildtime %>-<%= date(new Date(), 'YYYY') %> <%- theme.author %></span>
      <span id="timeDate">载入天数...</span><span id="busuanzi_container_site_pv">
      总访问量<span id="busuanzi_value_site_pv"></span>次
    </span>
    <div style="padding:20px 0;">
      <span><a href="https://beian.miit.gov.cn/" target="_blank">浙ICP备2021002261号-1</a></span>	
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802011426" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
          <img src="https://img.shuxhan.com/202102/2.png" style="float:left;"/>
          <span style="margin: 0px 0px 0px 5px;">浙公网安备 33010802011426号</span>
      </a>
  </div>
</div>
    
    
    <!-- <span id="busuanzi_container_site_uv">
      ，本站访客数<span id="busuanzi_value_site_uv"></span>人次
    </span> -->
    
</footer>

<script>
    var now = new Date();
    function createtime() {
      var grt = new Date("<%- theme.datetime %>");//此处修改你的建站时间或者网站上线时间 
      now.setTime(now.getTime() + 250);
      days = (now - grt) / 1000 / 60 / 60 / 24; dnum = Math.floor(days);
      document.getElementById("timeDate").innerHTML = "本站已安全运行 " + dnum + " 天 ";
    }
    setInterval("createtime()", 1000);
</script>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<%- js('lib/jquery') %>
<%- js('lib/waves') %>
<%- js('lib/jquery-ui') %>
<%- js('lib/jquery.tocify') %>
<%- js('js/main') %>
