<footer class="footer">

    <div class="copyright-wrap">
      <span>&copy; <%- theme.buildtime %>-<%= date(new Date(), 'YYYY') %> <%- theme.author %></span>
      <span id="timeDate">载入天数...</span><span id="busuanzi_container_site_pv">
      总访问量<span id="busuanzi_value_site_pv"></span>次
    </span>
    
</div>
    
    
    <!-- <span id="busuanzi_container_site_uv">
      ，本站访客数<span id="busuanzi_value_site_uv"></span>人次
    </span> -->
    
</footer>

<script>
    var now = new Date();
    function createtime() {
      var grt = new Date("<%- theme.datetime %>");//此处修改你的建站时间或者网站上线时间 
      now.setTime(now.getTime() + 250);
      days = (now - grt) / 1000 / 60 / 60 / 24; dnum = Math.floor(days);
      document.getElementById("timeDate").innerHTML = "本站已安全运行 " + dnum + " 天 ";
    }
    setInterval("createtime()", 1000);
</script>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<%- js('lib/jquery') %>
<%- js('lib/waves') %>
<%- js('lib/jquery-ui') %>
<%- js('lib/jquery.tocify') %>
<%- js('js/main') %>
