<div class="row">
    <div class="main">
   
        <article class="title-list">
            <%if(title){%>
                <h3>
                    <%=title%>
                </h3>
            <%}%>
            <% page.posts.each(function(article) { %>
            <section>
                <time class="post-date" datetime="<%=date_xml(article.date)%>">
                    <%=date(article.date)%>
                </time>
                <a href="<%=url_for(article.path)%>">
                    <%=article.title || __('no-title')%>
                </a>
                
            </section>
            <% }) %>
        </article>
        <%-partial('partials/pagination')%>
    </div>
    
    <aside>
        <%- partial('partials/widgets') %>
    </aside>
   
    
</div>
